h1 {
  text-align: center;
}

form, #form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: -16px 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

.twocol {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;
}

.twocol > * {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

input,
textarea,
button {
  display: block;
  font-size: 1rem;
}

input[type="submit"], button {
  margin: 20px 110px;
}