@charset "utf-8";

@import "variables";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "~bulma";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/middagsdeling_bakgrunnsbilde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: $n;
}

main {
  padding: 40px 10px 40px 10px;
  flex-grow: 1;
}

.footer {
  background-color: $n;
}

article {
  @extend .container;
}

.max-600 {
  max-width: 600px;
}

.max-500 {
  max-width: 500px;
}

.max-400 {
  max-width: 400px;
}

h1 {
  @extend .title;
  font-size: 30pt;
  font-family: "Avenir Next", sans-serif;
  font-style: italic;
}

.text-on-image {
  color: white;
  text-shadow: #222222 1px 1px 3px;
}

.box {
  color: #222222;
}

@import "dark-form";

