@charset "utf-8";

// Set your brand colors
$orange: rgb(253, 164, 87);; //
$brown: #76552f;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #ffffff;
$n: rgb(220, 149, 83, 0.60);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $white;
$grey-light: $n;
$primary: $brown;
$link: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;